{% for type, messages in app.flashes %}
	<div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
		{{ messages | join('. ') }}
	</div>
{% endfor %}
