{% extends 'base.html.twig' %}

{% block title %}Modifier un vehicule
{% endblock %}


{% block body %}

	<div class="mx-auto w-full max-w-7xl  font-semibold mb-10 ">

		<p class="p-4  mt-20  text-2xl max-w-xl mx-auto bg-gray-100 text-center mb-10">

			Modifier un vehicule
		</p>

		{% include 'partials/form.html.twig' %}

	</div>


{% endblock %}
